</div> <!-- ui main container -->
<div class="ui vertical footer segment" style="margin-top: 15px; ">
  <div class="ui center aligned container" style="color: #999;">
    <div>&copy; 2021 &mdash;<span id='this-year'></span></div>
    <div><%= pageTitle %> Powered by <a href="https://github.com/AntaresQAQ/code-paster" target="_blank">Code Paster</a>.</div>
  </div>
</div>
<script>$(document).ready(() => $('#this-year').html(new Date().getFullYear()));</script>
</body>
</html>
