<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title><%= this.title + ' - ' + pageTitle %></title>
  <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js"></script>
  <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/highlight.js/10.6.0/highlight.min.js"></script>
  <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/clipboard.js/2.0.6/clipboard.min.js"></script>
  <script>hljs.initLineNumbersOnLoad();</script>
  <link rel='icon' type='image/png' href='/public/image/logo.png'>
  <link rel="stylesheet" href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/highlight.js/10.6.0/styles/atelier-seaside-light.min.css">
  <link rel='stylesheet' href='/public/css/main.css'>
</head>
<body style='background-color: cornsilk'>
<div class='ui main container' style='margin-top: 60px'>
  <h1><%= pageTitle %></h1>
